/* Reglas para el cuerpo del documento */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Reglas para el encabezado */
h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

/* Reglas para los formularios */
form {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea[readonly] {
  background-color: #f2f2f2;
}

button[type="button"] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #555;
}

/* Reglas para la sección de estadísticas */
#estadisticass {
  margin-top: 20px;
}

.caja {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

#estadisticas {
  width: 100%;
  height: 200px;
}
table {
  margin: 0 auto;
  text-align: center;
}

th,
td {
  padding: 5px;
}

#estadisticas-titulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
